footer {
    background-color: #A8CAE9;
}

.footer {
    background-color: #A8CAE9;
    width: 100%;
    line-height: 100px;
    position: relative;
    bottom: 0;
    height: 10%;
    margin: 0px;
    padding: 0px;
    position: absolute;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-flow: row wrap;
}

.fmenu {
  list-style: none;
  background-color: #A8CAE9;
  width: 100%;
}

.fmenu li {
  display: inline-block;
}

.fmenu li a {
  padding: 10px;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease 0s;
  font-family: 'Lato', sans-serif;
  font-size: 150%;
  font-weight: bold;
}

.fmenu li a:hover {
  text-decoration: none;
  color: grey;
  transition: all 0.3s ease 0s;
}

.social {
  background-color: #A8CAE9;
  margin: 10px;
  padding: 0px;
}

.copyright {
  color: #fff;
}

.langue {

}

.langue:hover {

}
