header {
    background: white;
    height: 100px;
    width: 100%;
    line-height: 100px;
}

.hmenu {
    float: right
}

.logo {
    float: left;
}

img.logo {
    margin: 0px 10px 0px 0px;
}

.textLogo {
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
    size: 40px;
    font-family: 'Lato', sans-serif;
    font-size: 150%;
    font-weight: bold;
    line-height: 40px;
    vertical-align: middle;
}

.textLogo2 {
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    font-size: 150%;
    color: #A8CAE9;
}

span.up {

}

span.down {

}

.hlink {
    text-decoration: none;
    color: black;
    margin: 0 15px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-size: 150%;
    font-weight: bold;
}

.button {
    display : block;
    width: 150px;
    line-height: 50px;
    height: 50px;
    vertical-align: middle;
    color: #fff;
    background: #A8CAE9;
    text-decoration: none;
    color: white;
    margin: 0 15px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-size: 150%;
    font-weight: bold;
}

.hlink:hover {

}


