<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../../Web/css/Forum.css">
</head>
<body>


<div class="category">
    <div class="categoryTitle">
        <h1 class="element 1">Je suis le titre de la catégorie</h1>
        <p class="element 1">Je suis le texte descriptif de la catégorie </p>
    </div>
    <div class="subject">
        <h1 class="element 1">Sujets populaires </h1>
        <p class="element 1">Je suis la liste des sujets populaires de cette catégorie </p>
    </div>
    <div class="nbsujets">x <br> sujets </div>
    <div class="nbreponses">x <br> réponses </div>
</div>
<!--    <tbody>-->
<!--        <tr>-->
<!--            <td class="category">-->
<!--                Titre de la catégorie-->
<!--            </td>-->
<!--            <td class="nbSubject">128 sujets</td>-->
<!--            <td class ="nbReply">475 réponses</td>-->

<!--        </tr>-->
<!--    </tbody>-->

<!--<div class="forumCategory">-->
<!--    <div class="title" style="flex-grow: 8">1</div>-->
<!--    <div class="bottom">-->
<!--        <div style="flex-grow: 1">2</div>-->
<!--        <div style="flex-grow: 1">3</div>-->
<!--    </div>-->
<!--</div>-->
</body>
</html>