# Activez HTTPS
#RewriteEngine On
#RewriteCond %{Server_Port} !=443
#RewriteRule ^(.*)$ https://votre-domaine.fr/$1 [R=301, L]

RewriteEngine on
RewriteCond %{HTTP_HOST} ^infinitemeasures.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.infinitemeasures.com$
RewriteCond %{REQUEST_URI} !Web/
RewriteRule (.*) /Web/$1 [L]
