.page {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page h1 {
    font-weight: revert;
    font-style: italic;
    color: grey;
    text-align: center;
}

.page h2 {
    font-weight: revert;
    font-style: italic;
    color: rgb(168, 202, 233);
    text-align: center;
}

.page h3 {
    font-weight: revert;
    color: rgb(168, 202, 233);
}

.page li {
    color: black;
    margin-left: 4em;
    text-align: justify;
}

.page p {
    color: black;
    text-align: justify;
}

.page span {
    font-weight: bold;
}

.mentionslegales {
  width: 100%;
}

@media only screen and (max-width: 850px)  {



}
