* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  height: 100vh;
  width: 100%;
  background-color: #fff;
}

.connexion-page {
  position: absolute;
  left: 50%;
  top: 450px;
  transform: translate(-50%,-50%);
}

.connexion-body {
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  background-color: #fff;
  margin-top: 30px;
}

.logo {
  display: flex;
  justify-content: center;
}

#logo {
  width: 150px;
  height: 150px;
  cursor: pointer;
}

.border {
  margin: 50px 40px 60px 40px;
}

/*.connexion-header {
  position: relative;
  top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.text {
  margin-left: 25px;
}

.quit {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

#button-quit {
  background-color: #A8CAE9;
}

#img-quit {
  width: 40px;
  height: 40px;
  margin: 0 0 0 0;
  cursor: pointer;
  align-items: flex-start;
  display: flex;
  color: #A8CAE9;
}*/

.connexion-page h1 {
  color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 40px 0;
}

.connexion-page h2 {
  color: black;
  margin: 0;
  padding: 0;
  margin: 0 0 10px 0;
}

.connexion-page input {
  border-radius: 10px;
  border-style: solid;
  border-color: grey;
  color: grey;
  width: 100%;
  margin: 0 0 40px 0;
}

.connexion-page input:hover {
  border-color: #A8CAE9;
  box-shadow: 3px 3px 3px 3px rgba(168, 202, 233, 0.2);
}

.connexion-page input[type="text"], input[type="password"] {
  font-size: 130%;
}

button {
  background-color: rgba(168, 202, 233, 1);
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-weight: bold;
  padding: 10px;
  width: 100%;
  margin: 0 0 40px 0;
  font-size: 150%;
}

button:hover {
  box-shadow: 3px 3px 3px 3px rgba(168, 202, 233, 0.75);
}

.connexion-body a {
  color: grey;
  transition: all 0.3s ease 0s;
  text-decoration: underline;
  justify-content: center;
  display: flex;
  font-size: 110%;
}

.connexion-body a:hover {
  text-decoration: none;
  color: grey;
  transition: all 0.3s ease 0s;
}

p {
  font-size: 110%;
  margin-bottom: 30px;
}

span {
  font-weight: bold;
}

@media only screen and (max-width: 850px)  {

  .connexion-page {
    position: relative;
    left: 50%;
    top: 47%;
    transform: translate(-50%,-50%);
  }

  .connexion-body {
    border-style: none;
    background-color: #fff;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    top: 0;
    display: flex;
    justify-content: center;
  }

  .border {
    margin: 0;
  }

  }
