.page {
  position: absolute;
  left: 50%;
  top: 450px;
  transform: translate(-50%,-50%);
  width: 450px;
}


.box {
  flex-direction: column;
  padding: 40px 60px 40px 60px;
}

/*.connexion-header {
  position: relative;
  top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.text {
  margin-left: 25px;
}

.quit {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

#button-quit {
  background-color: #A8CAE9;
}

#img-quit {
  width: 40px;
  height: 40px;
  margin: 0 0 0 0;
  cursor: pointer;
  align-items: flex-start;
  display: flex;
  color: #A8CAE9;
}*/

form {
  display: flex;
  flex-direction: column;
}

#eye {
  position: relative;
  width: 30px;
  margin-top: -59px;
  margin-left: 85%;;
  cursor: pointer;
}

span {
  font-weight: bold;
}

p {
  margin-bottom: 50px;
  font-size: 14px;
}

input[type="submit"] {
  width: 100%;
}

.form a {
  font-size: 110%;
  margin-top: 40px;
  color: grey;
  justify-content: center;
  display: flex;
}

.form a:hover {
  color: grey;
  text-decoration: none;
}
