.personnal-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: column;
}

.right {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
}

form {
  flex-direction: column;
}
