@import url("https://pro.fontawesome.com/releases/v5.13.0/css/all.css");

#body {
    flex-direction: column;
    align-items: center;
}

#body h2 {
    justify-content: center;
    font-size: 2em;
    letter-spacing: 0.225em;;
    color: black;
}

.searchBar {
  display: flex;
  align-self: flex-start;
}

.testResume .testResumeID {
    list-style: none;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2em;
    background-color: whitesmoke;
    box-shadow: 0 0 0.3em 0 rgba(168,158,168,1);
    border-radius: 2px;
    padding: 1em;
    width: 100%;
}

.testResume  .testResumeID:hover {
    background-color: white;
}

.testResumeID button:hover {
    background-color: #A4B7C6;
}

.title {
    margin-top: 3em;
    background-color: transparent !important;
    box-shadow: none !important;
    color: black;
}

.testResumeID button {
    cursor: pointer;
    background-color: #A8CAE9;
    padding: 1em;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 20em;
}

.fa-heartbeat {
  color: red;
}

.fa-eye {
  color: blue;
}

.fa-deaf {
  color: green;
}

#type {
  align-content: center;
}

#date {
  font-weight: bold;
  font-size: 1.2em;
}

.table {
  width: 100%;
}

#body i {
  color: white;
  font-size: 2em;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #2f323a;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}

th {
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

td {
  font-size: 1.3em;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr {
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

.fa-eye {
  color: blue;
}

.fa-volume {
  color: green;
}

#heart {
  color: red;
}

tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
}
.content {

}
