@import url("https://pro.fontawesome.com/releases/v5.13.0/css/all.css");

#body {
    flex-direction: column;
    align-items: center;
    zoom: 80%;
}

#body h2 {
    font-size: 2em;
    letter-spacing: 0.225em;;
    color: black;
    margin-bottom: 2em;
}

.search-bar {
    display: flex;
    justify-content: center;
    width: 100%;
}

.search-input {
    width: 50%;
    margin: 2em 0;
    padding: 1em 1em 1em 3em;
    background: rgba(168, 202, 233, 1);
    border: none;
    outline: none;
    color: white;
    font-size: 1.2em;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(168, 202, 233, 1);
    transition: background .4s, box-shadow .2s;
}

.icon {
    cursor: pointer;
    position: relative;
    left: 2em;
    border: none;
    outline: none;
    color: white;
    font-size: 1.5em;
}

.sub-none{
    background: transparent;
    border: none;
    outline: none;
}

.search-input:hover {
    background: rgba(168, 202, 233, 0.8);
}

.search-input:focus {
    background: rgba(168, 202, 233, 0.8);
}
.search-input::placeholder {
    color: white;
}

@media screen and (width: 1680px) {
    #body {
        font-size: 10pt;
    }
}

@media screen and (max-width: 1280px) {
    .search-input {
        width: 70%;
    }
    #body {
        font-size: 9pt;
    }
}

@media only screen and (max-width: 936px)  {
    #body {
        font-size: 8pt;
    }
}

@media screen and (max-width: 736px) {
    #body {
        margin-left: 3em !important;
    }
}

@media screen and (max-width: 480px) {
    th,td {
        display: table-cell;
    }
    #body {
        margin-left: 2em !important;
    }
}
