#body {
    flex-direction: column;
    justify-content: center;
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 15pt;
    font-weight: 400;
    margin-left: 3em;
    margin-right: 3em;
}

.title {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    margin: 3em 0;
    padding: 1em;
    width: 60%;
}

.title button {
    background-color: #A8CAE9;
    padding: 1em;
    border: none;
    outline: none;
    border-radius: 3px;
}

.testResume > .testResumeID {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
    background-color: darkgrey;
    border-radius: 5px;
    padding: 1em;
    width: 100%;
}

.testResumeID > button {
    background-color: #A8CAE9;
    padding: 1em;
    border-radius: 5px;
}