#body {
  justify-content: center;
  flex-direction: column;
}

#body form .btn{
    font-size: 1.5em;
}
.title{
    width: 100%;
    padding: 1em;
    margin: 1em;
    border-bottom: 0.1em solid lightgray;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search-input {
    width: 50%;
    padding: 0.8em 0.8em 0.8em 3em;
    background: rgba(168, 202, 233, 1);
    border: none;
    outline: none;
    color: white;
    font-size: 1.4em;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(168, 202, 233, 1);
    transition: background .4s, box-shadow .2s;
}

.icon {
    cursor: pointer;
    position: relative;
    left: 1.8em;
    border: none;
    outline: none;
    color: white;
    font-size: 1.5em;
}

.sub-none{
    background: transparent;
    border: none;
    outline: none;
}

.search-input:hover {
    background: rgba(168, 202, 233, 0.8);
}

.search-input:focus {
    background: rgba(168, 202, 233, 0.8);
}
.search-input::placeholder {
    color: white;
}

.action {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2em;
}

.line {
  display: flex;
  justify-content: space-evenly;
}

.users {
  width: 100%;
}

.right {
  align-items: flex-end;
}

#body a {
  text-decoration: none;
}

.btn {
  margin: 0 5em 1em 1em;
  display: flex;
}

.btn-box {
  display: flex;
  flex-direction: column;
}
/*
.font{
    position: relative;
    left: 1.8em;
    color: black;
    font-size: 1.5em;
}
 */

@media screen and (width: 1680px) {
    #body {
        font-size: 10.5pt !important;
    }
}

@media screen and (max-width: 1280px) {
    #body {
        font-size: 10pt !important;
    }
}

@media only screen and (max-width: 936px)  {
    #body{
        font-size: 9pt !important;
    }
    .line {
      display: block;
    }
    .action {
      display: block;
    }
}

@media screen and (max-width: 736px) {
    #body {
        font-size: 8pt !important;
        letter-spacing: 0.0375em;
    }
}

@media screen and (max-width: 600px) {
    #body {
        font-size: 7pt !important;
        letter-spacing: 0;
    }
}

@media screen and (max-width: 480px) {
    #body {
        font-size: 7pt !important;
    }
}
