#body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 15pt;
    font-weight: 400;
}

#body h2 {
    font-size: 2em;
    letter-spacing: 0.225em;;
    color: black;
    margin-bottom: 2em;
}

.search-input {
    width: 100%;
    max-width: 27.5em;
    margin: 2em 0 0 0;
    padding: 1em 1em 1em 3em;
    background: rgba(168, 202, 233, 1);
    border: none;
    outline: none;
    color: white;
    font-size: 1.2em;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(168, 202, 233, 1);
    transition: background .4s, box-shadow .2s;
}
.search-input:hover {
    background: rgba(168, 202, 233, 0.8);
}

.search-input:focus {
    background: rgba(168, 202, 233, 0.8);
}
.search-input::placeholder {
    color: white;
}

.testResume{
    margin: 0 4em 0 4em;
}

.testResumeID {
    list-style: none;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2em;
    background-color: whitesmoke;
    box-shadow: 0 0 0.3em 0 rgba(168,158,168,1);
    border-radius: 5px;
    padding: 1em 0;
    width: 100%;
}

.testResume .testResumeID:hover {
    background-color: white;
}

.testResumeID button:hover {
    background-color: #A4B7C6;
}

.title {
    margin-top: 3em;
    background-color: transparent !important;
    box-shadow: none !important;
    color: black;
}

#foo{
    list-style: none;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2em;
    background-color: whitesmoke;
    box-shadow: 0 0 0.3em 0 rgba(168,158,168,1);
    border-radius: 5px;
    padding: 1em 0;
    width: 100%;
}
/*
.testResumeID .status {
    padding: 0.5em;
    color: #fff;
    border-radius: 3px;
    background-color: green !important;
}
*/
.testResumeID button {
    cursor: pointer;
    background-color: #A8CAE9;
    padding: 1em;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 20em;
}

.content{
    width: 20em;
}