#body {
    font-family: FontAwesome;
    flex-direction: column;
    align-items: center;
}

#body h2 {
    font-size: 2em;
    color: black;
    margin-bottom: 2em;
}

.top {
  display: flex;
  width: 100%;
  justify-content: center;
}

.top button {
  margin-left: 50px;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search-input {
    width: 50%;
    margin: 2em 0;
    padding: 0.8em 0.8em 0.8em 3em;
    background: rgba(168, 202, 233, 1);
    border: none;
    outline: none;
    color: white;
    font-size: 1.2em;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(168, 202, 233, 1);
    transition: background .4s, box-shadow .2s;
}

.icon {
    cursor: pointer;
    position: relative;
    left: 3em;
    border: none;
    outline: none;
    color: white;
    font-size: 1.3em;
}

.sub-none{
    background: transparent;
    border: none;
    outline: none;
}

.search-input:hover {
    background: rgba(168, 202, 233, 0.8);
}

.search-input:focus {
    background: rgba(168, 202, 233, 0.8);
}
.search-input::placeholder {
    color: white;
}


.accordion {
    width: 60vw;
}
.accordion a {
    font-size: 1.4em;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1em 2em 1em 1em;
    color: #7288a2;
    border-bottom: 1px solid #e5e5e5;
}
.accordion a:hover,
.accordion a:hover::after {
    cursor: pointer;
    color: #A8CAE9;
}
.accordion a.active {
    color: #A8CAE9;
    border-bottom: 1px solid #A8CAE9;
}
.accordion a::after {
    content: '\002B';
    position: absolute;
    right: 1em;
    font-size: 1em;
    color: #7288a2;
    font-weight: bold;
    text-align: center;
}
.accordion a.active::after {
    content: '\2212';
    color: #A8CAE9;
}
.accordion .content {
    padding: 0 1em;
    max-height: 0;
    overflow: hidden;
    clear: both;
    transition: all 0.2s ease 0.15s;
}
.accordion .content p {
    font-size: 1em;
    font-weight: 300;
}
.accordion .content.active {
    opacity: 1;
    padding: 1rem;
    max-height: 100%;
    transition: all 0.35s ease 0.15s;
}

@media screen and (width: 1680px) {
    #body {
        font-size: 13pt;
    }
}

@media screen and (max-width: 1280px) {
    #body {
        font-size: 12pt;
    }
}

@media screen and (max-width: 736px) {
    #body {
        font-size: 11pt;
        letter-spacing: 0.0375em;
    }
}

@media screen and (max-width: 600px) {
    #body {
        font-size: 10pt;
        letter-spacing: 0;
    }
}

@media screen and (max-width: 480px) {
    #body {
        font-size: 9pt;
    }
    .search-input {
        justify-content: flex-start !important;
        align-items: flex-start !important;
    }
}
