#body {
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 15pt;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#body h2 {
    font-size: 2em;
    letter-spacing: 0.225em;;
    color: black;
    margin-bottom: 2em;
}

.search-input {
    width: 100%;
    max-width: 27.5em;
    margin: 2em;
    padding: 1em 1em 1em 3em;
    background: rgba(168, 202, 233, 1);
    border: none;
    outline:none;
    color: gray;
    font-size: 1.2em;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(168, 202, 233, 1);
    transition: background .4s, box-shadow .2s;
}
.search-input:hover {
    background: rgba(168, 202, 233, 0.8);
}

.accordion{
    width: 60vw;
}

.accordion a {
    font-size: 1.2em;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1em 3em 1em 1em;
    color: #7288a2;
    border-bottom: 1px solid #e5e5e5;
}
.accordion a:hover,
.accordion a:hover::after {
    cursor: pointer;
    color: #A8CAE9;
}
.accordion a.active {
    color: #A8CAE9;
    border-bottom: 1px solid #A8CAE9;
}
.accordion a::after {
    content: '\002B';
    position: absolute;
    right: 1em;
    font-size: 1em;
    color: #7288a2;
    font-weight: bold;
    text-align: center;
}
.accordion a.active::after {
    content: '\2212';
    color: #A8CAE9;
}
.accordion .content {
    padding: 0 1rem;
    max-height: 0;
    overflow: hidden;
    clear: both;
    transition: all 0.2s ease 0.15s;
}
.accordion .content p {
    font-size: 1rem;
    font-weight: 300;
}
.accordion .content.active {
    opacity: 1;
    padding: 1rem;
    max-height: 100%;
    transition: all 0.35s ease 0.15s;
}

#edit-button {
  background-color: red;
  border: none;
  text-transform: uppercase;
  border-radius: 0.25em;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  height: 3.125em;
  letter-spacing: 0.225em;
  max-width: 30em;
  padding: 0 2em;
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (width: 1680px) {
    #body {
        font-size: 13pt;
    }
}

@media screen and (max-width: 1280px) {
    #body {
        font-size: 12pt;
    }
}

@media screen and (max-width: 736px) {
    #body {
        font-size: 11pt;
        letter-spacing: 0.0375em;
    }
}

@media screen and (max-width: 600px) {
    #body {
        font-size: 10pt;
        letter-spacing: 0;
    }
}
