@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
    margin: 0;
    padding: 0;
}

footer {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    max-height: 900px;
    background-color: #292c2f;
    color: white;
    text-align: left;
    bottom: 0;
    font-size: 12pt;
    font-family: "Lato";
    font-weigth: bold;
    padding: 45px;
    border: 0;
}

footer .footer-left,
footer .footer-center,
footer .footer-right{
    display: inline-block;
}

footer .footer-left{
    width: 40%;
}

footer h1{
    color: #fff;
    font: normal 43px 'Dancing Script', cursive;
    letter-spacing: 0.1em;
    font-weight: 500;
}

footer h1 span{
    color: #A8CAE9;
}

footer .footer-links{
    color:  #fff;
    margin: 4em 0 1em 0;
    padding: 0;
    text-decoration: none;
}

footer .footer-links a{
    font-size: 1.2em;
    color: white;
    text-decoration: none;
}

footer .footer-links a:hover {
    text-decoration: underline;
    color: #A8CAE9;
}

footer .footer-company-name{
    color:  #8f9296;
    font-size: 1em;
    font-weight: normal;
}

footer .footer-center{
    width: 30%;
}

footer .footer-center i{
    background-color: #33383b;
    color: #fff;
    width: 3em;
    height: 2em;
    border-radius: 50%;
    text-align: center;
    padding-top: 1em;
    margin: 0.5em;
    font-size: 1.6em;
}

footer .footer-center p{
    display: inline-block;
    font-size: 1.1em;
    color: #fff;
    font-weight: 700;
}

footer .footer-address-text{
    position: relative;
    top: 10px;
}

footer .footer-center p span{
    display: block;
    font-weight: normal;
    line-height: 2em;
}

footer .footer-center p a{
    color: #A8CAE9;
    text-decoration: none;
}

footer .footer-right{
    width: 25%;
}

footer .footer-company-about{
    line-height: 1.2em;
    color: #92999f;
    margin: 0;
    font-weight: normal;
}

footer .footer-company-about a{
    display: block;
    color:  #fff;
    line-height: 1em;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

footer .footer-icons{
    margin-top: 25px;
}

footer .footer-icons a{
    display: inline-block;
    cursor: pointer;
    width: 3em;
    height: 3em;
    background-color: #33383b;
    border-radius: 3px;
    color: #fff;
    padding-top: 0.6em;
    text-align: center;
    margin-right: 3px;
}


footer .footer-icons a:hover{
    background-color: #92999f;
}

footer .footer-submit {
    display: inline-block;
    width: 100%;
}


footer input {
    padding: 0.9em;
    border: 0;
    margin-top: 1.5em;
    border-radius: 3px;
}

footer input[type="submit"] {
    background-color: #A8CAE9;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}

@media (max-width: 1120px) {
    footer{
        font-size: 12pt;
    }
    footer .footer-left,
    footer .footer-center,
    footer .footer-right{
        display: block;
        width: 100%;
        text-align: center;
    }

    footer .footer-center {
        margin: 2.5em 0;
        padding: 2.5em 0;
        position: relative;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
    }
}