@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
    margin: 0;
    padding: 0;
}

footer {
    box-sizing: border-box;
    width: 100%;
    max-height: 900px;
    background-color: #292c2f;
    color: white;
    text-align: left;
    bottom: 0;
    font: bold 1em sans-serif;
    padding: 45px;
    border: 0;
}

footer .footer-left,
footer .footer-center,
footer .footer-right{
    display: inline-block;
    vertical-align: top;
}

footer .footer-left{
    width: 40%;
}

footer h1{
    color: #fff;
    font: normal 43px 'Dancing Script', cursive;
    letter-spacing: 2px;
    margin: 0;
    font-weight: 500;
}

footer h1 span{
    color: #A8CAE9;
}

footer .footer-links{
    color:  #fff;
    margin: 4em 0 1em 0px;
    padding: 0;
}

footer .footer-links a:hover {
  text-decoration: underline;
}

footer .footer-company-name{
    color:  #8f9296;
    font-size: 0.8em;
    font-weight: normal;
}

footer .footer-center{
    width: 30%;
}

footer .footer-center i{
    background-color: #33383b;
    color: #fff;
    font-size: 1.5em;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    text-align: center;
    padding-top: 0.45em;
    margin: 0.5em;
}

footer .footer-center p{
    display: inline-block;
    font-size: 0.9em;
    color: #fff;
    font-weight: 700;
}

footer .footer-address-text{
    position: relative;
    top: 10px;
}

footer .footer-center p span{
    display: block;
    font-weight: normal;
    line-height: 2em;
}

footer .footer-center p a{
    color: #A8CAE9;
    text-decoration: none;
}

footer .footer-right{
    width: 25%;
}

footer .footer-company-about{
    line-height: 1.2em;
    color: #92999f;
    font-size: 0.85em;
    font-weight: normal;
    margin: 0;
}

footer .footer-company-about span{
    display: block;
    color:  #fff;
    line-height: 1em;
    font-size: 1.85em;
    font-weight: bold;
    margin-bottom: 20px;
}

footer .footer-icons{
    margin-top: 25px;
}

footer .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 3px;
    font-size: 1em;
    color: #fff;
    text-align: center;
    padding: 6px;
    margin-right: 3px;
}

footer .footer-icons a:hover{
    background-color: #92999f;
}

footer .footer-submit{
    display: inline-block;
    padding-top: 10px;
}

input[type="email"] {
    padding: 0.6rem;
    width: 45%;
    border: 0;
}

input[type="submit"] {
    background-color: #A8CAE9;
    color: white;
    cursor: pointer;
    padding: 0.6rem 0.9rem;
    margin-top: 0.5rem;
    border: 0;
}

@media (max-width: 1120px) {
    footer{
        font: bold 14px sans-serif;
    }

    footer .footer-left,
    footer .footer-center,
    footer .footer-right{
        display: block;
        width: 100%;
        text-align: center;
    }

    footer .footer-center {
        padding: 5em 0;
        position: relative;
    }

    footer .footer-center::before, footer .footer-center::after  {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        background-color: gray;
        height: 1px;
        top: -1em;
        bottom: -1em;
    }
}