#body h1 {
  color: grey;
  display: flex;
  justify-content: center;
}

#body h2 {
  color: grey;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#body label {
  color: black;
  font-weight: bold;
  font-size: 1.4em;
}

.title-form {
  border-bottom: solid;
}

.box {
  box-shadow: 0px 0px 14px 0px rgba(168,158,168,1);
  border-radius: 3px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 40px 60px 40px 60px;
}

.box a {
  color: grey;
}

.box a:hover {
  color: grey;
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 0.6rem;
  margin-top: 0.5em;
  border-style: solid;
  border-color: rgba(168, 202, 233,0.2);
  color: grey;
  font-size: 1.2em;
  border-radius: 2px;
}

input:focus {
  border-color: rgba(168, 202, 233,1);
}

input[type="text"], input[type="password"], input[type="date"], input[type="email"] {

}

input[type="submit"] {
  align-self: center;
  border-radius: 5px;
  background-color: rgba(168, 202, 233,1);
  color: white;
  width: 50%;
  margin-top: 40px;
}

.birthdate {
  display: flex;
  flex-direction: row;
}

.date {
  display: flex;
  justify-content: center;
  margin-right: 10px;
}

#day {
  width: 50px;
}

#month {
  width: 65px;
}

 #year {
  width: 85px;
}

input[type=checkbox] {
 -webkit-appearance: none;
 -moz-appearance: none;
 -ms-appearance: none;
 border-radius: 4px;
 height: 15px;
 width: 15px;
 background: #fff;
 border: 1px solid #ccc;
 margin-bottom: 7px;
 margin-right: 5px;
}

input[type="checkbox"]:checked {
  background: rgba(168, 202, 233,1);
  position: relative;
}

.top-text {
  padding: 40px 0px 40px 0px;
  font-size: 1.1em;
}

.box span {
  font-weight: bold;
}

.error-msg {
  padding: 5px 0px 40px 0px;
  color: red;
}

textarea {
  padding: 0.6rem;
  margin-top: 0.5em;
  border-style: solid;
  border-color: rgba(168, 202, 233,0.2);
  color: grey;
  font-size: 1.2em;
  border-radius: 2px;
}

textarea:focus {
  border-color: rgba(168, 202, 233,1);
}

.select-box {
  display: flex;
  width: 400px;
  flex-direction: column;
}

.select-box .options-container {
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: ;
  overflow: hidden;
  border-radius: 2px;
  order: 1;
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
  border-style: solid;
  border-color: rgba(168, 202, 233,0.2);
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  border-radius: 0 2px 2px 0;
}

.select-box .option, .selected {
  padding: 12px 24px;
  cursor: pointer;
}

.selected {
  padding: 0.6rem;
  margin-top: 0.5em;
  border-style: solid;
  border-color: rgba(168, 202, 233,0.2);
  color: grey;
  font-size: 1.2em;
  border-radius: 2px;
  margin-bottom: 8px;
  position: relative;
  order: 0;
}

.selected::after {
  content: "";
  background: url(../images/arrow-black.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;
  transition: all 0.4s;
}

.select-box .option label {
  font-weight: normal;
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}

.option label {
  color: red;
}

.submit {
  display: flex;
  justify-content: center;
  width: 100%;
}


@media only screen and (max-width: 850px)  {

  #body .box {
    box-shadow: none;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding-top: 0px;
  }

  .right {
    padding: 0;
  }

  .left {
    padding: 0;
  }

}
