@import url("https://pro.fontawesome.com/releases/v5.13.0/css/all.css");
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
#body {
  justify-content: center;
}

#body h1 {
  color: grey;
  display: flex;
  justify-content: center;
}

#body h2 {
  color: grey;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#body label {
  color: black;
  font-weight: bold;
  font-size: 1.4em;
}

.far, .fal, .far {
  padding-right: 10px;
}

.title-form {
  border-bottom: solid;
}

.box {
  box-shadow: 0 0 14px 0 rgba(168,158,168,1);
  border-radius: 3px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px 60px 40px 60px;
  height: 100%;
}

.box a {
  color: grey;
}

.box a:hover {
  color: grey;
  text-decoration: none;
}

.search-input {
    width: 100%;
    max-width: 27.5em;
    margin: 2em;
    padding: 1em 1em 1em 3em;
    background: rgba(168, 202, 233, 1);
    border: none;
    outline:none;
    color: gray;
    font-size: 1.2em;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(168, 202, 233, 1);
    transition: background .4s, box-shadow .2s;
}
.search-input:hover {
    background: rgba(168, 202, 233, 0.8);
}

input[type="submit"]:hover {
  background: rgba(168, 202, 233, 0.8);
}

form {
  display: flex;
  flex-direction: column;
}

input {
  outline: none;
  padding: 0.6rem;
  margin-top: 0.5em;
  border-style: solid;
  border-color: rgba(168, 202, 233,0.2);
  color: black;
  font-size: 1.2em;
  border-radius: 2px;
}

input:focus {
  border-color: rgba(168, 202, 233,1);
}

input::placeholder{
  color:grey;
}

input[type="text"], input[type="password"], input[type="date"], input[type="email"] {

}

input[type="submit"] {
  cursor: pointer;
  align-self: center;
  border-radius: 5px;
  background-color: rgba(168, 202, 233,1);
  color: white;
  width: 50%;
  margin-top: 40px;
}

.birthdate {
  display: flex;
  flex-direction: row;
}

.date {
  display: flex;
  justify-content: center;
  margin-right: 10px;
}

#day {
  width: 50px;
}

#month {
  width: 65px;
}

 #year {
  width: 85px;
}

/*input[type=checkbox] + .CGU p:before{
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  font-family: "Font Awesome Pro 5";
  border-radius: 4px;
  height: 15px;
  width: 15px;
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 7px;
  margin-right: 5px;
  content: "\f14a";
}

input[type="checkbox"]:checked + .CGU p:before{
  background: rgba(168, 202, 233,1);
  font-family: FontAwesome;
  content: "\f00c";
  color: red;
}

#test {
  width: 175px;
  margin-left: 20px;
}
*/
/*** custom checkboxes ***/

input[type=checkbox] {
  display:none; /* to hide the checkbox itself */
}
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

input[type=checkbox] + label:before {
  content: "\f096"; /* unchecked icon */
}

input[type=checkbox] + label:before {
  letter-spacing: 10px; /* space between checkbox and label */
}

input[type=checkbox]:checked + label:before {
  content: "\f046";
}


.top-text {
  padding: 40px 0 40px 0;
  font-size: 1.1em;
}

.box span {
  font-weight: bold;
}

.error-msg {
  padding: 5px 0 40px 0;
  color: red;
}

textarea {
  padding: 0.6rem;
  margin-top: 0.5em;
  border-style: solid;
  border-color: rgba(168, 202, 233,0.2);
  color: grey;
  font-size: 1.2em;
  border-radius: 2px;
}

textarea:focus {
  border-color: rgba(168, 202, 233,1);
}

.option label {
  color: red;
}

.submit {
  display: flex;
  justify-content: center;
  width: 100%;
}

.selectbox select {
  padding: 0.6rem;
  margin-top: 0.5em;
  border-style: solid;
  border-color: rgba(168, 202, 233,0.2);
  color: grey;
  font-size: 1.2em;
  border-radius: 2px;
  width: 100%;
}

.faq {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.faq input {
  margin-bottom: 2em;
}

#form-add {
  padding: 5px 0px 1em 0px;
  color: red;
}

#add-submit {
  margin-bottom: 2em;
}

#faq-title {
  margin-bottom: 2em;
}

@media only screen and (max-width: 850px)  {
  /*TODO Colonne form responsive
  #body{
    display: flex;
    flex-direction: column;
  }
  */
  #body .box {
    box-shadow: none;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding-top: 0;
  }

  .right {
    padding: 0;
  }

  .left {
    padding: 0;
  }
}