/*.forumCategory {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    background-color: DodgerBlue;*/
/*}*/
/*.category{*/
/*    display: inline-flex;*/
/*    flex-direction: row;*/
/*    background-color: cornflowerblue;*/
/*    width:1500px;*/
/*    line-height: 75px;*/
/*    border: 5px black solid;*/
/*    text-align: center;*/

/*    justify-content: space-between;*/
/*}*/
/*.category >h1{*/
/*    font-size: 5px;*/
/*}*/
/*.categoryTitle >div {*/
/*    display:flex;*/
/*    flex-direction: column;*/
/*    background-color: lightgrey ;*/
/*    border: 1px black solid;*/
/*    width: 300px;*/

/*}*/
/*.subject >div {*/
/*    display:flex;*/
/*    flex-direction: column;*/
/*    background-color: lightgrey ;*/
/*    border: 1px black solid;*/
/*    width: 600px;*/
/*}*/
/*.nbsujets{*/
/*    display:flex;*/
/*    background-color: lightgrey ;*/
/*    border: 1px black solid;*/
/*    width: 150px;*/

/*}*/

/*.nbreponses{*/
/*    display:flex;*/
/*    background-color: lightgrey ;*/
/*    border: 1px black solid;*/
/*    width: 150px;*/

/**/
/*td {*/
/*    display:flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*    background-color: blue;*/
/*    width: 500px;*/
/*    margin: 10px;*/
/*    text-align: center;*/
/*    line-height: 75px;*/
/*    font-size: 30px;*/
/*}*/
/*.title {*/
/*    width: 500px;*/
/*}*/
/*.bottom {*/
/*    display: flex;*/
/*    justify-content: space-around;;*/
/*}*/


* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}