#body {
    flex-direction: column;
    align-items: center;
}

#body h2 {
    font-size: 2em;
    letter-spacing: 0.225em;;
    color: black;
    margin-bottom: 2em;
}

.search-bar {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.search-input {
    width: 50%;
    margin: 2em 0;
    padding: 1em 1em 1em 3em;
    background: rgba(168, 202, 233, 1);
    border: none;
    outline: none;
    color: white;
    font-size: 1.2em;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(168, 202, 233, 1);
    transition: background .4s, box-shadow .2s;
}

.icon {
    cursor: pointer;
    position: relative;
    left: 2em;
    border: none;
    outline: none;
    color: white;
    font-size: 1.2em;
}

.sub-none{
    background: transparent;
    border: none;
    outline: none;
}

.search-input:hover {
    background: rgba(168, 202, 233, 0.8);
}

.search-input:focus {
    background: rgba(168, 202, 233, 0.8);
}
.search-input::placeholder {
    color: white;
}

.tag .desc {
    padding: 1rem;
}

.tag {
    width: 60vw;
}

.tag-name {
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  align-items: center;
  flex-direction: row;
}

.tag-name a {
    font-size: 1.3em;
}

.tag-name p, .tag-name button {
  display: flex;
}

.tag a {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1em 2em 1em 1em;
    color: #7288a2;
    text-decoration: none;
}
.tag a:hover,
.tag a:hover::after {
    cursor: pointer;
    color: #A8CAE9;
}

.tag .desc p {
    font-size: 1em;
    font-weight: 300;
}

.tag-title {
  width: 100%;
  padding: 1em;
  margin: 1em;
  border-bottom: 0.1em solid lightgray;
}

.answer-box {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  border: 0.1em solid lightgray;
  box-shadow: 0 0 5px 0 rgba(168,158,168,1);
  border-radius: 5px;
  padding: 1em;
  margin: 1em;
  font-size: 1em;
  width: 50em;
}

.profil h3 {
  font-size: 1em;
  padding: 0.1em 0 0.1em 0;
  display: flex;
  justify-content: center;
}

.profil {
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
  padding-right: 1em;
  width: 10em;
}

.answer {
  padding-left: 1em;
}

.reply {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
}

@media screen and (width: 1680px) {
    #body {
        font-size: 13pt;
    }
}

@media screen and (max-width: 1280px) {
    #body {
        font-size: 12pt;
    }
}

@media screen and (max-width: 736px) {
    #body {
        font-size: 11pt;
        letter-spacing: 0.0375em;
    }
}

@media screen and (max-width: 600px) {
    #body {
        font-size: 10pt;
        letter-spacing: 0;
    }
}

@media screen and (max-width: 480px) {
    #body {
        font-size: 9pt;
    }
}

@media screen and (max-width: 1280px) {
    .search-input {
        width: 100%;
    }
}
