@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap");
@import url("https://pro.fontawesome.com/releases/v5.13.0/css/all.css");

header {
    font-family: "Lato", Helvetica, sans-serif;
    background: transparent;
    top: 0;
    left: 0;
    position: absolute;
    height: 6em;
    width: 100%;
    font-size: 15pt;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.sticky{
    position: fixed;
    background: #fff;
    animation: smoothScroll 0.5s linear ;
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.logo {
    z-index: 2;
    margin-left: 2.5em;
    margin-top: 0.25em;
}

#logo {
    width: 6em;
    height: 6em;
    cursor: pointer;
}

.navbar {
    list-style: none;
    margin-right: 2.5em;
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    padding: 1.5em;
    text-decoration: none;
    color: black;
    font-size: 1em;
    font-weight: 600;
    height: 3.125em;
    letter-spacing: 0.225em;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar li a:hover {
    color: grey;
}

/* Hamburger Menu */
.navbar.show {
    background-color: white;
    transform: translateY(0);
    display: flex;
    transition: all .3s ease-in-out;
    width: 100%;
    z-index: 1;
}

.fal {
    margin: 0px 0.5em 0px 0px;
}

button {
    cursor: pointer;
    background-color: rgba(168, 202, 233, 1);
    border: none;
    outline: none;
    border-radius: 0.25em;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    height: 3.125em;
    letter-spacing: 0.225em;
    max-width: 30em;
    padding: 0 2em;
    text-transform: uppercase;
}

button:hover {
    background-color: rgba(168, 202, 233, 0.8);
}

.burger-button {
    display: none;
    padding: 5em 0 0 0;
    width: 2.1em;
    height: 1.2em;
    cursor: pointer;
    position: relative;
    margin-right: 2.5em;
    z-index: 3;
}

.burger-button span {
    width: 100%;
    height: .2em;
    background-color: #A8CAE9;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.burger-button span::before, .burger-button span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: .2em;
    background-color: #A8CAE9;
    transition: transform 0.5s ease-in-out;
}

.burger-button span::before {
    transform: translateY(-10px);
}

.burger-button span::after {
    transform: translateY(10px);
}

.burger-button.active span {
    background-color: transparent;
}

.burger-button.active span::before {
    transform: translateY(0px) rotate(45deg);
}

.burger-button.active span::after {
    transform: translateY(0px) rotate(-45deg);
}

@media screen and (width: 1680px) {
    header {
        font-size: 13pt;
    }
}

@media screen and (max-width: 1280px) {
    header {
        font-size: 12pt;
    }
}

@media only screen and (max-width: 980px) {

    header {
        font-size: 10pt;
    }

    .burger-button {
        display: flex;
    }

    .navbar {
        transform: translateY(-60vh);
        display: flex;
        position: absolute;
        width: 100%;
        height: 22em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 4em;
    }

    .navbar li {
        display: inline-block;
        padding: 0.35em 0 0 0;
    }
    .navbar li:first-child {
        padding: 12.5em 0 0 0;
    }
}
