@import url("https://pro.fontawesome.com/releases/v5.13.0/css/all.css");

#body {
    padding: 0;
    display: block;
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 15pt;
    font-weight: 400;
    zoom: 75%;
}

#body ul {
    list-style: none;
}

@media screen and (width: 1680px) {
    #body {
        font-size: 12pt;
    }
}

@media screen and (max-width: 1280px) {
    #body {
        font-size: 12pt;
    }
}

@media screen and (max-width: 736px) {
    #body {
        font-size: 11pt;
        letter-spacing: 0.0375em;
    }
}

#body a {
    transition: color 0.2s ease, border-bottom-color 0.2s ease;
    color: inherit;
    text-decoration: none;
}


#body h2, #body h3 {
    font-weight: 800;
    letter-spacing: 0.225em;
    line-height: 1.5em;
    margin: 1em 0;
    text-transform: uppercase;
}

#body h2 {
    font-size: 1.4em;
}

@media screen and (max-width: 736px) {
    #body h2 {
        font-size: 1.1em;
        line-height: 1.65em;
    }
}

#body h3 {
    font-size: 1.1em;
}

@media screen and (max-width: 736px) {
    #body h3 {
        font-size: 0.95em;
        line-height: 1.65em;
    }
}


/* Section & Article */
section.special {
    text-align: center;
}

div.major {
    margin: 0 0 3.5em 0;
}

div.major h2 {
    border-bottom: solid 2px #fff;
    display: inline-block;
    padding-bottom: 1em;
    position: relative;
}

div.major h2::after {
    content: '';
    display: block;
    height: 1px;
}

@media screen and (max-width: 736px) {
    div.major {
        margin: 0 0 2em 0;
    }
}

@media screen and (max-width: 980px) {
    div br {
        display: none;
    }
}

/* Icon */
.icon {
    position: relative;
}

.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-weight: 900;
    font-family: "Font Awesome 5 Pro";
}

.icon::before {
    line-height: inherit;
}

.icon.heartbeat::before {
@extends . icon;
    content: "\f21e";
}

.icon.temperature::before {
@extends . icon;
    content: "\f769";
}

.icon.listen::before {
@extends . icon;
    content: "\f2a2";
}

.icon.watch::before {
@extends . icon;
    content: "\f2f2";
}

.icon.vision::before {
@extends . icon;
    content: "\f2a8";
}

.icon.sono::before {
@extends . icon;
    content: "\f961";
}


/* Features */
.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    width: 100%;
}

.features li {
    padding: 3em 4em 4em 6em;
    text-align: justify;
    width: 50%;
}

.features li:nth-child(1) {
    background-color: rgba(0, 0, 0, 0.035);
}

.features li:nth-child(2) {
    background-color: rgba(0, 0, 0, 0.07);
}

.features li:nth-child(3) {
    background-color: rgba(0, 0, 0, 0.105);
}

.features li:nth-child(4) {
    background-color: rgba(0, 0, 0, 0.14);
}

.features li:nth-child(5) {
    background-color: rgba(0, 0, 0, 0.175);
}

.features li:nth-child(6) {
    background-color: rgba(0, 0, 0, 0.21);
}

.features li::before {
    display: block;
    color: #A8CAE9;
    position: absolute;
    left: 1.75em;
    top: 2.7em;
    font-size: 1.5em;
}

.features li:nth-child(1) {
    border-top-left-radius: 5px;
}

.features li:nth-child(2) {
    border-top-right-radius: 5px;
}

.features li:nth-last-child(1) {
    border-bottom-right-radius: 5px;
}

.features li:nth-last-child(2) {
    border-bottom-left-radius: 5px;
}

@media screen and (max-width: 980px) {
    .features li {
        padding: 3em 2em 1em 2em;
        text-align: center;
    }

    .features li::before {
        margin: 0 0 1em 0;
        position: relative;
        top: 0;
        left: 0;
    }
}

@media screen and (max-width: 736px) {
    .features li {
        padding: 3em 0 1em 0;
        background-color: transparent !important;
        border-top: solid 2px;
        width: 100%;
    }

    .features li:first-child {
        border-top: 0;
    }
}

/* Wrapper */
.wrapper {
    padding: 4em 0;
}

.wrapper > .inner {
    width: 60em;
    margin: 0 auto;
}

@media screen and (max-width: 1280px) {
    .wrapper > .inner {
        width: 80%;
    }
}

@media screen and (max-width: 980px) {
    .wrapper > .inner {
        width: 100%;
    }
}

.wrapper.style3 {
    background-color: white;
    color: black;
}

.wrapper.style3 h2, .wrapper.style3 h3 {
    color: black;
    /*color: #ffffff;*/
}

.wrapper.style3 div p {
    color: black;
    /*color: #b9bad4;*/
}

.wrapper.style3 div.major h2, .wrapper.style3 div.major h3 {
    border-color: rgba(0, 0, 0, 0.125);
}

.wrapper.style3 div.major p {
    color: black;
    /*color: #d3d4e4;*/
}

@media screen and (max-width: 980px) {
    .wrapper {
        padding: 4em 3em 2em 3em;
    }
}

@media screen and (max-width: 736px) {
    .wrapper.style3 .features li {
        border-top-color: rgba(0, 0, 0, 0.125);
    }
    .wrapper {
        padding: 3em 2em 1em 2em;
    }
}