.section {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-style: solid;
}

.title {
  margin-top: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 350%;
  height: 50%;
  color: grey;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.team {
  margin-top: 100px;
}

#img {

}

.electronic {

}

.site {

}

.jsp {

}


@media only screen and (max-width: 850px)  {

  h1 {
    font-size: 200%;
    height: 50%;
  }

  }
