.fa-eye-slash, .fa-eye {
  cursor: pointer;
  position: relative;
  left: 23.5em;
  bottom: 1.7em;
  border: none;
  outline: none;
  font-size: 1.2em;
}
.sub-none{
  background: transparent;
  border: none;
  outline: none;
}

#password {
  margin-bottom: 0;
}

#eye-pass {
  outline: none;
}

.msg {
  background-color: red;
  margin-bottom: 1.5em;
  border-radius: 2px;
  padding: 0.5em 0 0.5em 0.3em;
}
.warning-msg {
  color: white;
  font-size: 1.3em;
}

@media only screen and (max-width: 850px)  {

  body {
    overflow-x: hidden;
  }
  
  .fa-eye-slash, .fa-eye {
    left: 10em;
    bottom: 1.8em;
  }
  input[type="submit"] {
    width: 70% !important;
  }
}
