#eye {
  position: absolute;
  margin-left: 21em;
  margin-top: 11.2em;
  cursor: pointer;
}

#password {
  margin-bottom: 0;
}

@media only screen and (max-width: 850px)  {

  #eye {
    position: absolute;
    margin-left: 13em;
    margin-top: 11.2em;
  }

}
