.fa-eye-slash, .fa-eye {
  cursor: pointer;
  position: relative;
  left: 23.5em;
  bottom: 1.7em;
  border: none;
  outline: none;
  font-size: 1.2em;
}
.sub-none{
  background: transparent;
  border: none;
  outline: none;
}

#password {
  margin-bottom: 0;
}

@media only screen and (max-width: 850px)  {
  .fa-eye-slash, .fa-eye {
    left: 10em;
    bottom: 1.8em;
  }
  input[type="submit"] {
    width: 70% !important;
  }
}
