.fields {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

.right {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.fa-eye-slash, .fa-eye {
  position: absolute;
  margin-left: 260px;
  margin-top: 304px;
  font-size: 1.4em;
  cursor: pointer;
}

.CGU {
  display: flex;
  flex-direction: row;
  margin-top: 4px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  color: red;
}

#text-CGU {
  font-size: 1.2em;
  color: black;
}

#link-cgu {
  transition: all 0.3s ease 0s;
  text-decoration: underline;
  color: black;
}

#link-cgu:hover {
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.submit {
  display: flex;
  justify-content: center;
  width: 100%;
}


input[type="submit"] {
  width: 40%;
}


@media only screen and (max-width: 850px)  {

  .fields {
    flex-direction: column;
  }

  }
