* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

#body {
  display: flex;
  width: 100%;
  font-size: 12pt;
  display: flex;
  padding: 200px 0px 100px 0px;
  justify-content: center;
}
