.search-input {
    width: 100%;
    max-width: 27.5em;
    margin: 2em;
    padding: 1em 1em 1em 3em;
    background: rgba(168, 202, 233, 1);
    border: none;
    outline:none;
    color: gray;
    font-size: 1.2em;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(168, 202, 233, 1);
    transition: background .4s, box-shadow .2s;
}
.search-input:hover {
    background: rgba(168, 202, 233, 0.8);
}
