.search-bar {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.search-input {
    width: 50%;
    margin: 2em 0;
    padding: 1em 1em 1em 3em;
    background: rgba(168, 202, 233, 1);
    border: none;
    outline: none;
    color: white;
    font-size: 1.2em;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(168, 202, 233, 1);
    transition: background .4s, box-shadow .2s;
}

.icon {
    cursor: pointer;
    position: relative;
    left: 2em;
    border: none;
    outline: none;
    color: white;
    font-size: 1.3em;
}

.sub-none{
    background: transparent;
    border: none;
    outline: none;
}

.search-input:hover {
    background: rgba(168, 202, 233, 0.8);
}

.search-input:focus {
    background: rgba(168, 202, 233, 0.8);
}
.search-input::placeholder {
    color: white;
}
