body {
  margin-left: 275px;
  font-family: 'lato';
}

header {
  display: flex;
}

.sidebar {
  display: flex;
  width: 275px;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 9px 0px 4px -3px rgba(168,158,168,1);
  position: fixed;
  overflow-x: hidden;
  left: 0;
  background-color: #fff;
  transition: width 0.3s ease-in-out;
  z-index: 1000;
  overflow: hidden;
}

.logo {
  position: relative;
  display: flex;
  justify-content: center;
}

#img-logo {
  width: 125px;
  height: 125px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar {
  display: flex;
  flex-direction: column;
  top: 0;
}

.navbar h1 {
  margin-left: 20px;
  font-size: 25px;
  width: 255px;
  color: black;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.box {
  padding: 20px;
}

.navbar a:hover {
    margin-left: 10px;
}

#img-nav {
  width: 25px;
  height: 25px;
  margin: 0px 10px 0px 0px;
  display: flex;
  align-items: center;
}

.account {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  height: 25vh;
  width: auto;
}

.dropdown {
  margin-bottom: 15px;
  display: none;
  box-shadow: 0px 0px 14px 0px rgba(168,158,168,1);
  border-radius: 10px;
  transition: display 0.3s ease-in-out;
}

.dropdown.show {
  display: block;
}

.dropdown li {
  display: flex;
  margin: 10px 50px 10px 25px;
  color: black;
}

.dropdown li:hover {
  font-weight: bold;
}

header a {
  text-decoration: none;
}

#img-drop {
  width: 15px;
  height: 15px;
  margin: 1.5px 5px 0px 0px;
}

.btn {
  width: 68%;
}

.btn button {
  margin-bottom: 20px;
  background-color: rgba(168, 202, 233, 1);
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-weight: bold;
  font-size: 110%;
  padding: 10px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.btn button:hover {
  box-shadow: 3px 3px 3px 3px rgba(168, 202, 233, 0.75);
}

#arrow {
  margin-left: 10px;
  width: 15px;
  height: 15px;
}

#arrow.active {
  transform: rotate(180deg);
}

.footersidebar {
  display: block;
  flex-direction: column;
  position: relative;
  bottom: 0;
  width: 275px;
  margin-bottom: 10px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px 0px 20px;
}

.flag {
  display: flex;
  align-items: center;
}

#img-flag {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.link {
  display: flex;
  align-items: center;
}

.link a {
  color: black;
  font-weight: bold;
}

.link a:hover {
  text-decoration: underline;
}

.link span {
  margin: 0px 5px 0px 5px;
}

.copyright {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  font-size: 11px;
}

.header {
  display: none;
  height: 100px;
  width: 100vw;
  position: absolute;
  left: 0;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
}

.burger-button {
  width: 42px;
  height: 24px;
  cursor: pointer;
  position: relative;
  display: flex;
  margin-left: 20px;
}

.burger-button span {
  width: 100%;
  height: 4px;
  background-color: #A8CAE9;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.burger-button span::before, .burger-button span::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #A8CAE9;
  transition: transform 0.5s ease-in-out;
}

.burger-button span::before {
  transform: translateY(-10px);
}

.burger-button span::after {
  transform: translateY(10px);
}

#img-logor {
  width: 100px;
  height: 100px;
}

.account-responsive {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  height: 100%;
}

.account-responsive button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(168, 202, 233, 1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
  width: 35px;
  height: 35px;
}

.account-responsive a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#img {
  width: 25px;
  height: 25px;
}

@media only screen and (max-width: 850px)  {

  .header {
    display: flex;

  }

  .logo {
    display: none;
  }

  .account {
    display: flex;
  }

  .btn {
    display: none;
  }

  .sidebar {
    width: 0;
  }

  body {
    width: 100%;
    margin: 0;
    border-style: solid;
  }

}
