/* #body {
  margin-left: 280px;
  font-family: 'lato';
}

header {
  display: flex;
}

.sidebar {
  display: flex;
  width: 275px;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 9px 0px 4px -3px rgba(168,158,168,1);
  position: fixed;
  overflow-x: hidden;
  left: 0;
  background-color: #fff;
  transition: width 0.3s ease-in-out;
  z-index: 1000;
  overflow: hidden;
}

.logo {
  position: relative;
  display: flex;
  justify-content: center;
}

#img-logo {
  width: 125px;
  height: 125px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar {
  display: flex;
  flex-direction: column;
  top: 0;
}

.navbar h1 {
  margin-left: 20px;
  font-size: 25px;
  width: 255px;
  color: black;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 20px;
}


.navbar a:hover {
  margin-left: 10px;
}

#img-nav {
  width: 25px;
  height: 25px;
  margin: 0px 10px 0px 0px;
  display: flex;
  align-items: center;
}

.account {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  height: 25vh;
  width: auto;
}

.dropdown {
  margin-bottom: 15px;
  display: none;
  box-shadow: 0px 0px 14px 0px rgba(168,158,168,1);
  border-radius: 10px;
  transition: display 0.3s ease-in-out;
}

.dropdown.show {
  display: block;
}

.dropdown li {
  display: flex;
  margin: 10px 50px 10px 25px;
  color: black;
}

.dropdown > input {
  display: flex;
  color: black;
}

.fal {
  margin: 0px 0.5em 0px 0px;
}

.dropdown li:hover {
  font-weight: bold;
}

header a {
  text-decoration: none;
}

#img-drop {
  width: 15px;
  height: 15px;
  margin: 1.5px 5px 0px 0px;
}

.btn {
  width: 68%;
}

.btn button {
  margin-bottom: 20px;
  background-color: rgba(168, 202, 233, 1);
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-weight: bold;
  font-size: 110%;
  padding: 10px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.btn button:hover {
  box-shadow: 3px 3px 3px 3px rgba(168, 202, 233, 0.75);
}

#arrow {
  margin-left: 10px;
  width: 15px;
  height: 15px;
}

#arrow.active {
  transform: rotate(180deg);
}

.footersidebar {
  display: block;
  flex-direction: column;
  position: relative;
  bottom: 0;
  width: 275px;
  margin-bottom: 10px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px 0px 20px;
}

.flag {
  display: flex;
  align-items: center;
}

#img-flag {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.link {
  display: flex;
  align-items: center;
}

.link a {
  color: black;
  font-weight: bold;
}

.link a:hover {
  text-decoration: underline;
}

.link span {
  margin: 0px 5px 0px 5px;
}

.copyright {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  font-size: 11px;
}

.header {
  display: none;
  height: 100px;
  width: 100vw;
  position: absolute;
  left: 0;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
}

.burger-button {
  width: 42px;
  height: 24px;
  cursor: pointer;
  position: relative;
  display: flex;
  margin-left: 20px;
}

.burger-button span {
  width: 100%;
  height: 4px;
  background-color: #A8CAE9;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.burger-button span::before, .burger-button span::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #A8CAE9;
  transition: transform 0.5s ease-in-out;
}

.burger-button span::before {
  transform: translateY(-10px);
}

.burger-button span::after {
  transform: translateY(10px);
}

#img-logor {
  width: 100px;
  height: 100px;
}

.account-responsive {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  height: 100%;
}

.account-responsive button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(168, 202, 233, 1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
  width: 35px;
  height: 35px;
}

.account-responsive a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#img {
  width: 25px;
  height: 25px;
}

@media only screen and (max-width: 850px)  {

  .header {
    display: flex;

  }

  .logo {
    display: none;
  }

  .account {
    display: flex;
  }

  .btn {
    display: none;
  }

  .sidebar {
    width: 0;
  }

} */

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

* {
  font-family: 'lato';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: visible;
}

#body {
  padding: 50px 40px 50px 40px;
  display: flex;
  font-size: 12pt;
  margin-left: 250px;
  margin-top: 60px;
}

header {
  position: fixed;
  background: #22242A;
  width: 100%;
  height: 60px;
  top: 0;
}

#header {
  position: fixed;
  background: #22242A;
  width: 100%;
  height: 60px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 15px 0 15px;
  z-index: 10000000;
}

.left_area {
  display: flex;
}

.left_area h3 {
  margin: 0;
  color: #ffffff;
  font: bold 2em 'Dancing Script', cursive;
  letter-spacing: 0.2em;
  display: flex;
  align-items: center;
}

.left_area p {
  margin: 0;
  color: #A8CAE9;
  font: bold 1.2em 'Dancing Script', cursive;
  letter-spacing: 0.2em;
  display: flex;
  align-items: center;
}

.right_area {
  display: flex;
  align-items: center;
}

.logout_btn {
  cursor: pointer;
  font-size: 1.5em;
  padding: 0.3em;
  text-decoration: none;
  background-color: #A8CAE9;
  border: none;
  border-radius: 5px;
}

.fa-power-off {
  color: black;
}

.sidebar {
  margin-top: 60px;
  background: #2f323a;
  margin-top: 60px;
  padding-top: 30px;
  position: fixed;
  width: 250px;
  height: 100vh;
  transition: 0.5s;
  transition-property: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  bottom: 0;
  top: 0;
}

.sidebar a {
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

#navbar {
  padding: 0;
  margin: 0;
}

#navbar a {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  padding: 10px;
}

#navbar i {
  padding: 0 10px 0 10px;
  font-size: 1.5em;
}

#name {
  color: white;
  font-size: 2.5em;
  padding-top: 20px;
  margin-bottom: 60px;
}

#navbar a:hover, #social-network a:hover{
  background: #A8CAE9;
}

label #sidebar_btn:hover{
  color: #A8CAE9;
}

#link {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
}

#link a {
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
}

#link span {
  padding: 0 5px 0 5px;
  color: white;
}

#link a:hover {
  text-decoration: underline;
}

#social-network {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#social-network a {
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  color: #fff;
  padding: 0.6em;
  text-align: center;
}

#flag {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

#copyright {
  color: #fff;
  padding-bottom: 1em;
}

#copyright p {
  display: flex;
  justify-content: center;
}

.img-flag {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

@media only screen and (max-width: 936px)  {
    .sidebar{
      left: -190px;
      justify-content: space-around;
    }

    .sidebar h1{
      display: none;
    }

    .sidebar i {
      font-size: 20px;
      margin-left: 170px;
      width: 80px;
    }

    #social-network {
      flex-direction: column;
    }

    #copyright, #link {
      display: none;
    }

    .left_area h3 {
      font-size: 1.2em;
    }
}
