#body {
  flex-direction: column;
  top: 0;
  padding: 0;
  margin-top: 0;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.informations {
  display: flex;
  flex-direction: column;
}

.informations .title1{
  width: 100%;
  padding: 1em;
  margin: 1em;
  border-bottom: 0.1em solid lightgray;
}

.top, .bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.charts {
  display: flex;
  flex-direction: row;
}

.graph {
  width: 50%;
}

.container {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  border: 0.1em solid lightgray;
  box-shadow: 0 0 5px 0 rgba(168,158,168,1);
  border-radius: 5px;
  padding: 1em;
  margin: 1em;
  font-size: 1em;
  width: 50em;
}

.text, .score {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 3em;
}

.top-text {
  padding-bottom: 0.5em;
}

.top-text span{
  color: black;
  font-size: 1.85em;
}

.fas, .fal {
  align-items: center;
  font-size: 3em;
  color: #A8CAE9;
}

#changeCircleSize{
  background-color: #A8CAE9;
  color: white;
  border: none;
  outline: none;
  padding: 1em;
  border-radius: 4px;
  cursor: pointer;
}
#changeCircleSize:hover {
  background: rgba(168, 202, 233, 0.8);
}

#changeMonth{
  display: none;
}

@media only screen and (max-width: 600px)  {
  .top, .bottom {
    display: flex;
    flex-direction: column;
  }
  .charts {
    display: flex;
    flex-direction: column;
  }
}
