@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";
.rwd-table {
    margin: 1em 0;
    min-width: 300px;
    zoom: 100%;
}
.rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.rwd-table th {
    display: none;
}
.rwd-table td {
    display: block;
}
.rwd-table tbody tr:nth-child(even) {
    background-color: #f5f5f5 !important;
}

.rwd-table td:first-child {
    padding-top: 0.5em;
}
.rwd-table td:last-child {
    padding-bottom: 0.5em;
}
.rwd-table td:before {
    content: attr(data-th) " : ";
    font-weight: bold;
    width: 10em;
    display: inline-block;
}
@media (min-width: 480px) {
    .rwd-table td:before {
        display: none;
    }
}
.rwd-table th,
.rwd-table td {
    text-align: left;
}

@media (min-width: 480px) {
    .rwd-table th,
    .rwd-table td {
        display: table-cell;
        padding: 0.25em 0.5em;
    }
    .rwd-table th:first-child,
    .rwd-table td:first-child {
        padding-left: 0;
    }
    .rwd-table th:last-child,
    .rwd-table td:last-child {
        padding-right: 0;
    }
}

.rwd-table {
    background: black;
    color: #fff;
    border-radius: 0.4em;
    overflow: hidden;
}
.rwd-table th, span {
    color: white;
}

.rwd-table th,
.rwd-table td {
    margin: 0.5em 1em;
}
@media (min-width: 480px) {
    .rwd-table th,
    .rwd-table td {
        padding: 1em !important;
    }
}
.rwd-table th,
.rwd-table td:before {
    color: #808080;
}

.fa-heart-rate {
    color: lightcoral;
}

.fa-low-vision {
    color: lightblue;
}

.fa-waveform {
    color: lightgreen;
}